/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *   for example: General styles, Navigation styles, Hero styles, Footer etc.
 */

 /* /////////////////////////////////////////////////////*/


 /* header style */ 

 #banner { width: 95%;
padding: 20px;
background: linear-gradient(#029AAF,#CD008F);
margin: 10px;
align-content: center;
}

/* nav style */ 

ul.menu{margin-left: 10px;
margin-right: 10px;
padding: 10px;
display:flex;
justify-content: space-around;
background-color: #0B2EBD;
}

ul.menu li{display: block;
float: left;
padding-left: 10px;
padding-right: 10px;
background-color: rgb(99, 29, 165);
color: rgb(255, 255, 255);
}

/* intro style */ 

.intro h1 {text-align: center;
font-size: 40px;
}

#pp1 {text-align: justify;
font-size: 22px;
margin-left: 15px;
margin-right: 15px;
margin-bottom: 50px;
}

/* imagesblock1 style */ 

.img1 { display: inline-block;
width: 30%;
padding-left: 30px;
height: 300px;
}

/* content1 style */ 


.ct1{ display: inline-block;
}

.content1 h1 {text-align: center;
font-size: 80px;
float: left;
width: 40%;
margin-left: 50px;
}
    
#pp2 {float:right; 
text-align: justify;
font-size: 22px;
margin-right: 20px;
margin-top: 65px;
width: 50%;
}

/* imageblock2 style */ 

.img2 {display: inline-block;
margin-right: auto;
margin-left: auto;
width: 100%;
margin: 20px;
}


/* content2 style */ 

.content2 p{ display: flex;
display: inline-block;
text-align: justify;
font-size: 22px;
margin-left: 15px;
margin-right: 15px;
margin-bottom: 50px;
width: 30%;
text-align: center;
}

/* buttons style */ 

.button {display: inline-block; 
background-color: rgb(0, 247, 193);
padding: 3px;
margin-left: 40px;
margin-right: 40px;
width: 25%;
border: 5px solid rgb(255, 3, 221);
border-radius: 10px;
text-align: center;
font-size: 28px;
justify-content: space-evenly;
margin-bottom: 30px;
}

.button :hover {background-color: rgb(169, 53, 204);
transition: all 0.5s ease-out;
margin: 10px;
padding: 0px;
color: cornsilk;
}

/* articles style */ 

.articles h2 {text-align: center;
font-size: 30px;
}

.articles p {text-align: justify;
font-size: 15px;
}

.article{ margin: 20px;
padding: 10px;
border: 5px solid rgb(22, 214, 80);
border-radius:5px;
}

.articles :first-child {margin: 20px;
padding: 10px;
border: 15px solid rgba(14, 18, 233, 0.342);
text-align: center;
}

/* footer style */ 

footer {background-color: black;
color: blanchedalmond;
text-align: right;
}