/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *   for example: General styles, Navigation styles, Hero styles, Footer etc.
 */

 /* /////////////////////////////////////////////////////*/


 /* header style */ 

 #banner { 
 width: 95%;
 padding: 20px;
 background: linear-gradient(#029AAF,#CD008F);
 margin: 10px;
 align-content: center
}

/* nav style */ 

ul.menu{
margin-left: 10px;
margin-right: 10px;
padding: 10px;
display:flex;
justify-content: space-around;
background-color: #0B2EBD;
}

ul.horizontal li{
display: block;
float: left;
padding-left: 50px;
background-color: cyan;
color: black;
}

.intro h1 { align-content: center;
}

.img1 { display: inline-block;
    width: 30%;
    padding-left: 30px;

}

